@import "mixins";

:host {
  display: block;
  margin-bottom: 1rem;
}

.exam-item-wrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}

.card-badge {
  width: 5rem;
  text-align: center;
  border-radius: 0 0.5rem 0.5rem 25px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-danger {
    background-color: $red;
  }

  &-warning {
    background-color: $yellow;
  }

  &-dark {
    background-color: #333333;
    color: #ffffff;
  }

  &-success {
    background-color: $green;

    .card-badge-desc {
      color: #ffffff;
    }
  }

  &-disabled {
    background-color: #cccccc;
  }
}

.card-title span {
  font-size: 65%;
}

.card-badge-title {
  color: #fff;
  font-size: 2rem;
  text-shadow: 1px -1px 2px #000;
}

.card-content {
  padding: 0.75rem 0.625rem;
  flex-grow: 1;
}

.card-desc {
  white-space: nowrap;
}

.tag {
  background-color: #ececec;
  margin-bottom: 0.5rem;
  display: inline-block;
}
