<div class="main-content">
  <p-menubar [model]="items" class="fixed-top">
    <ng-template pTemplate="end">
      <div class="d-flex align-items-center">
        <ng-button size="md" class="ml-2" appearance="outlined" icon="pi pi-user" iconPos="right" label="کاربران"
                   routerLink="/users"></ng-button>
        <p-avatar role="button" image="assets/images/avatar.png" routerLink="/profile" size="large"
                  shape="circle"></p-avatar>
      </div>
    </ng-template>
  </p-menubar>
  <main>
    <ng-content></ng-content>
  </main>
</div>
