<form class="form-row justify-content-center" [formGroup]="form">
  <div class="p-4 box rounded-lg shadow">
    <h4>ورود</h4>
    <small class="d-block text-muted mb-4">برای ورود نام کاربری و رمز عبور خود را به درستی وارد کنید</small>
    <ng-input-text
      class="mb-3"
      formControlName="email"
      labelPos="fix-top"
      [showRequiredStar]="false"
      icon="pi pi-user"
      label="نام کاربری"
      [validation]="{'required':'این فیلد الزامیست.','email':'ایمیل نامعتبر است.'}"
    ></ng-input-text>
    <ng-input-text
      class="mb-3"
      type="password"
      icon="pi pi-key"
      labelPos="fix-top"
      [showRequiredStar]="false"
      formControlName="password"
      label="رمز عبور"
      [validation]="{'required':'این فیلد الزامیست.'}"
    ></ng-input-text>
    <a class="d-block mb-5" routerLink="">فراموشی رمز عبور</a>
    <ng-button
      [async]="true"
      [full]="true"
      type="submit"
      label="ورود"
      (onClickAsync)="onSubmit($event)"
    ></ng-button>
  </div>
</form>
