<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p-card>
        <div class="d-flex flex-column flex-sm-row align-items-center justify-content-sm-between mb-4">
          <h4>لیست کاربران</h4>
          <div class="d-flex align-items-center">
            <ng-button size="md" class="ml-2" label="افزودن" icon="pi pi-plus" color="success"
                       (onClick)="onAddUser()"></ng-button>
            <ng-input-text *ngIf="users.length" placeholder="جستجو در کاربران" icon="pi pi-search"></ng-input-text>
          </div>
        </div>
        <p-table responsiveLayout="scroll" [value]="users" [customSort]="true"
                 (sortFunction)="onSort($event)"
                 *ngIf="users.length">
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th>نام کاربری</th>
              <th>شماره تلفن</th>
              <th>ایمیل</th>
              <th pSortableColumn="permission">
                سطح دسترسی
                <p-sortIcon field="permission"></p-sortIcon>
              </th>
              <th pSortableColumn="last_visit">
                آخرین بازدید
                <p-sortIcon field="last_visit"></p-sortIcon>
              </th>
              <th pSortableColumn="status">
                وضعیت
                <p-sortIcon field="status"></p-sortIcon>
              </th>
              <th>ویرایش</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user let-index="rowIndex">
            <tr>
              <td>{{index + 1}}</td>
              <td>{{user.username}}</td>
              <td>{{user.phone_number}}</td>
              <td>{{user.email}}</td>
              <td>{{user.permission}}</td>
              <td>{{user.last_visit}}</td>
              <td>
                <ng-switch
                  [value]="user.status"
                  [disabled]="user.id == currentUser.id"
                  (onChangeAsync)="changeUserStatus(user,$event)"
                  [async]="true">
                </ng-switch>
              </td>
              <td>
                <ng-button icon="pi pi-pencil" size="md" (onClick)="editUser(user,index)"></ng-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <ng-empty *ngIf="!users.length"></ng-empty>
      </p-card>
    </div>
  </div>
</div>
