<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p-card>
        <div class="d-flex flex-column flex-sm-row align-items-center justify-content-sm-between mb-4">
          <h4>لیست کاربران</h4>
          <div class="d-flex align-items-center">
            <ng-button size="md" class="ml-2" label="افزودن" icon="pi pi-plus" color="success"
                       (onClick)="onAddUser()"></ng-button>
            <ng-input-text placeholder="جستجو در کاربران" icon="pi pi-search"></ng-input-text>
          </div>
        </div>
        <p-table responsiveLayout="scroll" [value]="users" (onSort)="onSort($event)">
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th>نام کاربری</th>
              <th>شماره تلفن</th>
              <th>ایمیل</th>
              <th>سطح دسترسی</th>
              <th pSortableColumn="lastVisit">آخرین بازدید
                <p-sortIcon field="lastVisit"></p-sortIcon>
              </th>
              <th pSortableColumn="status">وضعیت</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user let-index="rowIndex">
            <tr>
              <td>{{index + 1}}</td>
              <td>{{user.username}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.email}}</td>
              <td>{{user.permission}}</td>
              <td>{{user.lastVisit}}</td>
              <td>
                <ng-switch (onChange)="changeUserStatus($event)" [async]="true"></ng-switch>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>
</div>
