<div class="container-fluid">
  <div class="row align-items-stretch">
    <div class="col-12">
      <p-card>
        <div class="row align-items-center text-center">
          <h2 class="col-xl-1 mb-5 mb-xl-0 text-sm-right">پروفایل</h2>
          <div class="col-8 col-sm-3 col-md-2 col-xl-1 mx-auto mb-4 mb-sm-0">
            <img class="w-100 rounded-circle d-block mx-auto" src="assets/images/avatar.png" alt="Admin">
            <ng-button (onClick)="filePicker.click()" class="mt-4" label="تغیر پروفایل"></ng-button>
            <input #filePicker class="p-sr-only" (change)="onSelectImage($event)" type="file">
          </div>
          <div class="col-sm-8 col-md-9 col-xl-8">
            <form [formGroup]="form" class="row" (ngSubmit)="onSubmit()">
              <ng-input-text
                formControlName="username"
                [validation]="{required:'این فیلد الزامیست'}"
                class="col-md-6 mb-3 mb-md-0"
                labelPos="fix-top"
                label="نام کاربری">
              </ng-input-text>
              <ng-input-text
                formControlName="email"
                keyFilter="email"
                [validation]="{required:'این فیلد الزامیست',email:'ایمیل نامعتبر است'}"
                class="col-md-6 mb-3 mb-md-0"
                labelPos="fix-top"
                label="ایمیل">
              </ng-input-text>
              <ng-input-password
                formControlName="password"
                [toggleMask]="true"
                [feedback]="false"
                class="col-md-6 mb-3 mb-md-0"
                labelPos="fix-top"
                label="رمزعبور">
              </ng-input-password>
              <ng-input-text
                formControlName="phone_number"
                [maxlength]="11"
                keyFilter="num"
                [validation]="{required:'این فیلد الزامیست'}"
                class="col-md-6 mb-3 mb-md-0"
                labelPos="fix-top"
                label="تلفن همراه">
              </ng-input-text>
              <ng-button class="col-12 text-left mt-4" color="success" type="submit" label="ثبت تغییرات"></ng-button>
            </form>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
