:host ::ng-deep {
  .profile-wrapper {
    max-width: 200px;

    button {
      background: #226597;
    }

    p-avatar {
      display: block;

      .p-avatar {
        width: 9rem;
        height: 9rem;
      }
    }
  }

  form{
    button.p-button {
      background: rgba(61, 182, 51, 0.7);
    }
  }
}
