:host {
  display: block;

  //&, ::ng-deep img {
  //-ms-touch-action: double-tap-zoom;
  //touch-action: double-tap-zoom;
  //}

  ::ng-deep {
    .p-tabview-panel, .slider-wrapper {
      height: 100%;
    }

    .p-image-toolbar {
      button {
        text-shadow: 0 2px 3px black;
      }

      button:nth-child(1),
      button:nth-child(2) {
        display: none;
      }
    }
  }
}
