<div class="container-fluid" *ngIf="user">
  <div class="row align-items-stretch">
    <div class="col-12">
      <p-card>
        <div class="row align-items-center text-center">
          <h2 class="col-12 col-md-2 col-xl-1 mb-5 mb-md-0 text-sm-right text-lg-center">پروفایل</h2>
          <div class="col-6 col-sm-3 col-md col-xl-1 mb-4 mb-sm-0 text-md-right text-lg-center">
            <img class="w-100 rounded-circle" src="assets/images/avatar.png" alt="Admin">
          </div>
          <div class="col-6 col-sm-3 col-md mb-4 mb-sm-0">
            <span class="font-bold">ادمین</span>
            <div class="text-muted mt-4">{{user.username}}</div>
          </div>
          <div class="col-6 col-sm-3 col-md mb-4 mb-sm-0">
            <span class="font-bold">ایمیل</span>
            <div class="text-muted mt-4">{{user.email}}</div>
          </div>
          <div class="col-6 col-sm-3 col-md mb-4 mb-sm-0">
            <span class="font-bold">تلفن</span>
            <div class="text-muted mt-4">{{user.phone_number}}</div>
          </div>
          <div class="col-12 col-lg col-xl-1 mt-5 mt-lg-0">
            <div class="d-flex flex-column flex-sm-row flex-lg-column">
              <ng-button class="mb-2 mb-sm-0 ml-lg-0 mb-lg-2 ml-sm-2"
                         [full]="true"
                         color="success"
                         label="ویرایش"
                         routerLink="/profile-edit">
              </ng-button>
              <ng-button (onClick)="logout()" [full]="true" color="danger" label="خروج"></ng-button>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
