<div class="card" role="button" (click)="onClick()" [class.active]="selected">
  <div class="card-body">
    <div class="row align-items-center no-gutters">
      <div class="col-4 text-right">
        <div class="card-title mb-0 text-ellipsis">{{title}}</div>
      </div>
      <div class="col-4 text-center">
        <div class="ng-ltr" [innerHTML]="desc"></div>
      </div>
      <div class="col-4 text-left">
        <span *ngIf="tag" class="px-3 py-2 tag rounded-pill">{{tag}}</span>
      </div>
    </div>
  </div>
</div>
