<div class="multi-answer-item-wrapper">
  <div class="quiz-checklist-title mb-3" [ngClass]="{'d-flex mx-n3 align-items-center': showPointInput}">
    <div [class.col-6]="showPointInput">
      <h6 class="font-bold">{{title}}</h6>
    </div>
    <div *ngIf="showPointInput" class="col-6">
      <ng-input-text
        keyFilter="num"
        size="sm"
        inputMode="decimal"
        labelPos="float"
        [readonly]="readonly"
        [value]="point"
        label="بارم"
        (onInput)="onPointChange($event)">
      </ng-input-text>
    </div>
  </div>
  <div class="d-flex quiz-checklist-inner">
    <div class="col-3" *ngFor="let item of answers;let i = index">
      <div class="answer-item"
           [class.bg-primary]="item.correct"
           [class.bg-danger]="item.wrong"
           [class.bg-info]="item.unanswered"
           (click)="onAnswerChange($event,i)">
        {{item.text}}
      </div>
    </div>
  </div>
</div>
