<div class="container-fluid">
  <div class="row">
    <div class="col-12 mb-3">
      <p-card>
        <div class="filter-box d-flex flex-wrap align-items-center">
          <ng-dropdown class="ml-2 mb-1" label="مقطع"></ng-dropdown>
          <ng-dropdown class="ml-2 mb-1" label="جنسیت"></ng-dropdown>
          <ng-dropdown class="ml-2 mb-1" label="رشته"></ng-dropdown>
          <ng-dropdown class="ml-2 mb-1" label="پایه"></ng-dropdown>
          <ng-dropdown class="ml-2 mb-1" label="شهر"></ng-dropdown>
          <ng-dropdown class="ml-2 mb-1" label="استان"></ng-dropdown>
          <ng-button class="mr-auto" size="sm" label="اعمال"></ng-button>
        </div>
        <div class="row">
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">معلمان</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">دانش آموزان</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">آزمون</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">تکالیف</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">درسنامه</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">پسر</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">دختر</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
        </div>
      </p-card>
    </div>

    <div class="col-lg-4 mb-3">
      <p-card>
        <div class="d-flex justify-content-between mb-4">
          <h4 class="mb-0">آزمون</h4>
          <ng-button appearance="outlined" icon="pi pi-chevron-left" label="نمایش جزئیات"></ng-button>
        </div>
        <div class="row">
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">درحال برگزاری</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">لغو شده ها</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">انجام شده</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-lg-4 mb-3">
      <p-card>
        <div class="d-flex justify-content-between mb-4">
          <h4 class="mb-0">تکالیف</h4>
          <ng-button appearance="outlined" icon="pi pi-chevron-left" label="نمایش جزئیات"></ng-button>
        </div>
        <div class="row">
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">درحال برگزاری</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">لغو شده ها</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">انجام شده</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-lg-4 mb-3">
      <p-card>
        <div class="d-flex justify-content-between mb-4">
          <h4 class="mb-0">درسنامه</h4>
          <ng-button appearance="outlined" icon="pi pi-chevron-left" label="نمایش جزئیات"></ng-button>
        </div>
        <div class="row">
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">درحال برگزاری</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">لغو شده ها</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">انجام شده</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
        </div>
      </p-card>
    </div>

    <div class="col-12 mb-3">
      <p-card>content</p-card>
    </div>
  </div>
</div>
