<div class="container-fluid">
  <div class="row">
    <div class="col-12 mb-3">
      <p-card>
        <form class="filter-box d-flex flex-wrap align-items-center mb-3"
              [formGroup]="form"
              (ngSubmit)="onSubmitFilter()">
          <ng-dropdown class="ml-2 mb-1" label="مقطع"></ng-dropdown>
          <ng-dropdown class="ml-2 mb-1" label="جنسیت"></ng-dropdown>
          <ng-dropdown class="ml-2 mb-1" label="رشته"></ng-dropdown>
          <ng-dropdown class="ml-2 mb-1" label="پایه"></ng-dropdown>
          <ng-dropdown class="ml-2 mb-1" label="شهر"></ng-dropdown>
          <ng-dropdown class="ml-2 mb-1" label="استان"></ng-dropdown>
          <ng-jalali-datepicker
            formControlName="start_time"
            [showIcon]="false"
            class="ml-2 mb-1"
            label="از تاریخ">
          </ng-jalali-datepicker>
          <ng-jalali-datepicker
            formControlName="end_time"
            [showIcon]="false"
            class="ml-2 mb-1"
            label="تا تاریخ">
          </ng-jalali-datepicker>
          <ng-button
            type="submit"
            appearance="outlined"
            color="success"
            class="mr-auto"
            size="sm"
            [disabled]="form.hasError('invalidDate')"
            label="اعمال تغییرات">
          </ng-button>
          <ng-button
            *ngIf="filterEnabled"
            appearance="outlined"
            color="danger"
            pTooltip="حذف فیلتر"
            tooltipPosition="top"
            class="mr-2"
            [rounded]="true"
            icon="pi pi-times"
            (onClick)="clearFilter()">
          </ng-button>
        </form>
        <div class="row">
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <ng-figure title="معلمان" sub="0"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <ng-figure title="دانش آموزان" sub="0"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <ng-figure title="آزمون" [sub]="exam.count"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <ng-figure title="تکالیف" [sub]="homework.count"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <ng-figure title="درسنامه" [sub]="tutorial.count"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <ng-figure title="پسر" sub="0"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <ng-figure title="دختر" sub="0"></ng-figure>
          </div>
        </div>
      </p-card>
    </div>

    <div class="col-lg-4 mb-3">
      <p-card>
        <div class="d-flex justify-content-between mb-4">
          <h4 class="mb-0"><img src="assets/images/exam.png" class="ml-2">آزمون</h4>
          <ng-button routerLink="/exam" appearance="outlined" icon="pi pi-chevron-left"
                     label="نمایش جزئیات"></ng-button>
        </div>
        <div class="row">
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="درحال برگزاری" sub="0"></ng-figure>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="لغو شده ها" sub="0"></ng-figure>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="انجام شده" sub="0"></ng-figure>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-lg-4 mb-3">
      <p-card>
        <div class="d-flex justify-content-between mb-4">
          <h4 class="mb-0"><img src="assets/images/homework.png" class="ml-2">تکالیف</h4>
          <ng-button routerLink="/homework" appearance="outlined" icon="pi pi-chevron-left"
                     label="نمایش جزئیات"></ng-button>
        </div>
        <div class="row">
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="درحال برگزار" sub="0"></ng-figure>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="لغو شده ها" sub="0"></ng-figure>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="انجام شده" sub="0"></ng-figure>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-lg-4 mb-3">
      <p-card>
        <div class="d-flex justify-content-between mb-4">
          <h4 class="mb-0"><img src="assets/images/tutorial.png" class="ml-2">درسنامه</h4>
          <ng-button routerLink="/tutorial" appearance="outlined" icon="pi pi-chevron-left"
                     label="نمایش جزئیات"></ng-button>
        </div>
        <div class="row">
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="درحال برگزاری" sub="0"></ng-figure>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="لغو شده ها" sub="0"></ng-figure>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="انجام شده" sub="0"></ng-figure>
          </div>
        </div>
      </p-card>
    </div>

    <div class="col-12 mb-3 iran-map">
      <p-card>
        <h5>میزان استفاده مدارس از LMS</h5>
        <div class="row">
          <div class="order-1 mb-4 col-md-6 col-lg-3">
            <div class="border bg-white rounded p-4 shadow">
              <h6>فیلتر</h6>
              <ng-dropdown class="mt-4" label="جنسیت"></ng-dropdown>
              <ng-dropdown class="mt-3" label="استان"></ng-dropdown>
              <ng-dropdown class="mt-3" label="منطقه"></ng-dropdown>
              <ng-dropdown class="mt-3" label="مدرسه"></ng-dropdown>
              <ng-dropdown class="mt-3" label="نوع مدرسه"></ng-dropdown>
              <ng-dropdown class="mt-3" label="مقطع"></ng-dropdown>
              <ng-button class="mt-5" [full]="true" size="md" appearance="outlined" color="success"
                         label="اعمال تغییرات"></ng-button>
            </div>
          </div>
          <div class="order-3 order-md-4 order-lg-2 col-md-12 col-lg-6">
            <ng-pinch-zoom overflow="visible">
              <ng-iran-map [multiple]="false"></ng-iran-map>
            </ng-pinch-zoom>
          </div>
          <div class="order-2 mb-4 order-lg-3 col-md-6 col-lg-3">
            <div class="border bg-white rounded p-4 shadow">
              <div class="text-center">
                <h5 class="text-muted mb-4">مجموع‌ استفاده از LMS</h5>
                <h3 class="mb-4">154457</h3>
              </div>
              <div class="d-flex align-items-center justify-content-between bg-light py-1 mb-2">
                <span>آزمون ها</span>
                <span class="text-dark">{{exam.count | withComma}}</span>
              </div>
              <div class="d-flex align-items-center justify-content-between bg-light py-1 mb-2">
                <span>تکالیف</span>
                <span class="text-dark">{{homework.count | withComma}}</span>
              </div>
              <div class="d-flex align-items-center justify-content-between bg-light py-1 mb-2">
                <span>درسنامه</span>
                <span class="text-dark">{{tutorial.count | withComma}}</span>
              </div>
              <div class="d-flex align-items-center justify-content-between bg-light py-1 mb-2">
                <span>تعداد مدارس</span>
                <span class="text-dark">{{'0' | withComma}}</span>
              </div>
              <div class="d-flex align-items-center justify-content-between bg-light py-1 mb-2">
                <span>دخترانه</span>
                <span class="text-dark">{{'0' | withComma}}</span>
              </div>
              <div class="d-flex align-items-center justify-content-between bg-light py-1">
                <span>پسرانه</span>
                <span class="text-dark">{{'0' | withComma}}</span>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
