@import "mixins";

h1, h2, h3, h4, h5, h6 {
  white-space: nowrap;
  position: relative;
}

.col-lg-4 ng-button ::ng-deep button {
  border-radius: 2rem;
}

.iran-map ::ng-deep {
  .p-card-body {
    overflow: hidden;
  }

  h5 {
    z-index: 200;
    position: relative;
  }

  .row > div {
    &:first-child,
    &:last-child {
      position: relative;
      z-index: 200;
    }

    .border {
      @include media-breakpoint-up(md) {
        max-width: 300px;
        margin: auto;
      }
    }
  }
}
