@import "mixins";

h1, h2, h3, h4, h5, h6 {
  white-space: nowrap;
  position: relative;
}

.col-lg-4 ng-button ::ng-deep button {
  border-radius: 2rem;
  border-color: #87A8E2;
  font-weight: bold;

  .p-button-label,
  .p-button-icon {
    color: #111111;
  }
}

.iran-map ::ng-deep {
  .p-card-body {
    overflow: hidden;
  }

  h5 {
    z-index: 200;
    position: relative;
  }

  .row > div {
    &:first-child,
    &:last-child {
      position: relative;
      z-index: 200;
    }

    &.box {
      border-radius: 8px;
      border: 3px solid rgba(181, 181, 181, 0.1);
      @include media-breakpoint-up(md) {
        max-width: 300px;
        &:last-child {
          margin-right: auto;
        }
      }
    }
  }
}
