<div class="container-fluid">
  <div class="row">
    <div class="col-12 mb-3">
      <p-card>
        <div class="filter-box d-flex flex-wrap align-items-center mb-3">
          <ng-dropdown class="ml-2 mb-1" label="مقطع"></ng-dropdown>
          <ng-dropdown class="ml-2 mb-1" label="جنسیت"></ng-dropdown>
          <ng-dropdown class="ml-2 mb-1" label="رشته"></ng-dropdown>
          <ng-dropdown class="ml-2 mb-1" label="پایه"></ng-dropdown>
          <ng-dropdown class="ml-2 mb-1" label="شهر"></ng-dropdown>
          <ng-dropdown class="ml-2 mb-1" label="استان"></ng-dropdown>
          <ng-button appearance="outlined" color="success" class="mr-auto" size="sm" label="اعمال تغییرات"></ng-button>
        </div>
        <div class="row">
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <ng-figure title="معلمان" sub="100216"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <ng-figure title="دانش آموزان" sub="100216"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <ng-figure title="آزمون" sub="100216"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <ng-figure title="تکالیف" sub="100216"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <ng-figure title="درسنامه" sub="100216"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <ng-figure title="پسر" sub="100216"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-md-4 col-lg">
            <ng-figure title="دختر" sub="100216"></ng-figure>
          </div>
        </div>
      </p-card>
    </div>

    <div class="col-lg-4 mb-3">
      <p-card>
        <div class="d-flex justify-content-between mb-4">
          <h4 class="mb-0">آزمون</h4>
          <ng-button appearance="outlined" icon="pi pi-chevron-left" label="نمایش جزئیات"></ng-button>
        </div>
        <div class="row">
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="درحال برگزاری" sub="100216"></ng-figure>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="لغو شده ها" sub="100216"></ng-figure>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="انجام شده" sub="100216"></ng-figure>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-lg-4 mb-3">
      <p-card>
        <div class="d-flex justify-content-between mb-4">
          <h4 class="mb-0">تکالیف</h4>
          <ng-button appearance="outlined" icon="pi pi-chevron-left" label="نمایش جزئیات"></ng-button>
        </div>
        <div class="row">
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="درحال برگزار" sub="100216"></ng-figure>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="لغو شده ها" sub="100216"></ng-figure>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="انجام شده" sub="100216"></ng-figure>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-lg-4 mb-3">
      <p-card>
        <div class="d-flex justify-content-between mb-4">
          <h4 class="mb-0">درسنامه</h4>
          <ng-button appearance="outlined" icon="pi pi-chevron-left" label="نمایش جزئیات"></ng-button>
        </div>
        <div class="row">
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="درحال برگزاری" sub="100216"></ng-figure>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="لغو شده ها" sub="100216"></ng-figure>
          </div>
          <div class="mt-2 col-md-4 col-lg-12 col-xl-4 col-lg">
            <ng-figure title="انجام شده" sub="100216"></ng-figure>
          </div>
        </div>
      </p-card>
    </div>

    <div class="col-12 mb-3">
      <p-card>content</p-card>
    </div>
  </div>
</div>
