<div class="container-fluid">
  <div class="row align-items-stretch">
    <div class="col-lg-6 mb-4">
      <p-card>
        <h5>میزان آزمون های مقاطع تحصیلی</h5>
        <div class="row mt-4">
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <ng-figure title="ابتدایی" [sub]="gradeCount.elementary"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <ng-figure title="متوسطه اول" [sub]="gradeCount.middle"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <ng-figure title="متوسطه دوم" [sub]="gradeCount.high"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <ng-figure title="فنی و حرفه ای" [sub]="gradeCount.ws"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <ng-figure title="کار دانش" [sub]="gradeCount.tap"></ng-figure>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-lg-6 mb-4">
      <p-card>
        <h5>آزمون ها</h5>
        <div class="row mt-4">
          <div class="mt-2 col-md-4">
            <ng-figure title="درحال برگزاری" layout="horizontal" [sub]="count.available"></ng-figure>
          </div>
          <div class="mt-2 col-md-4">
            <ng-figure title="تستی" layout="horizontal" sub="0"></ng-figure>
          </div>
          <div class="mt-2 col-md-4">
            <ng-figure title="تشریحی" layout="horizontal" sub="0"></ng-figure>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-12 mb-4">
      <p-card>
        <h5>آزمون</h5>
        <form [formGroup]="form" (ngSubmit)="onSubmitFilter()" class="row my-4">
          <ng-dropdown
            formControlName="type"
            class="col-sm-6 col-md-4 col-xl mb-2"
            [options]="[{label:'تشریحی',value:'Descriptive'},{label:'تستی',value:'MultiChoice'}]"
            label="نوع آزمون">
          </ng-dropdown>
          <ng-dropdown formControlName="lesson_id" class="col-sm-6 col-md-4 col-xl mb-2" label="درس"></ng-dropdown>
          <ng-dropdown formControlName="field"
                       class="col-sm-6 col-md-4 col-xl mb-2"
                       [options]="fields"
                       [filter]="true"
                       optionLabel="title"
                       optionValue="id"
                       label="رشته">
          </ng-dropdown>
          <ng-dropdown class="col-sm-6 col-md-4 col-xl mb-2" label="پایه"></ng-dropdown>
          <ng-jalali-datepicker formControlName="start_time" class="col-sm-6 col-md-4 col-xl mb-2"
                                [showClear]="true" label="از تاریخ"></ng-jalali-datepicker>
          <ng-jalali-datepicker formControlName="end_time" class="col-sm-6 col-md-4 col-xl mb-2"
                                [showClear]="true" label="تا تاریخ"></ng-jalali-datepicker>
          <ng-dropdown formControlName="grade"
                       class="col-sm-6 col-md-4 col-xl mb-2"
                       [options]="grades"
                       optionLabel="title"
                       optionValue="id"
                       [filter]="true"
                       label="مقطع">
          </ng-dropdown>
          <ng-dropdown formControlName="gender_id" class="col-sm-6 col-md-4 col-xl mb-2" [options]="genders"
                       label="جنسیت"></ng-dropdown>
          <div class="d-flex align-items-center col-md-4 col-xl mb-2">
            <ng-button
              type="submit"
              [full]="true"
              appearance="outlined"
              color="success"
              size="md"
              [disabled]="form.hasError('invalidDate')"
              label="اعمال تغییرات">
            </ng-button>
            <ng-button
              *ngIf="filterEnabled"
              appearance="outlined"
              color="danger"
              pTooltip="حذف فیلتر"
              tooltipPosition="top"
              class="mr-2"
              icon="pi pi-filter-slash"
              (onClick)="clearFilter()">
            </ng-button>
          </div>
        </form>
        <div class="row justify-content-center">
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <ng-figure title="درحال برگزاری" [sub]="count.available"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <ng-figure title="تمام شده" [sub]="count.done"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <ng-figure title="تصحیح شده" [sub]="count.corrected"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <ng-figure title="میزان شرکت دانش آموزان" [sub]="count.student_participation"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <ng-figure title="براساس جنسیت" [sub]="count.created_per_gender"></ng-figure>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <ng-figure title="تستی و تشریحی" [sub]="count.created_per_type"></ng-figure>
          </div>
          <div class="w-100"></div>
          <div class="col-lg-10 mt-5">
            <p-chart type="bar" [data]="chartData" [options]="chartOptions"></p-chart>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
