<div class="container-fluid">
  <div class="row align-items-stretch">
    <div class="col-lg-6 mb-3">
      <p-card>
        <h5>میزان آزمون های مقاطع تحصیلی</h5>
        <div class="row">
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">ابتدایی</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">متوسطه اول</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">متوسطه دوم</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">فنی و حرفه ای</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">کار دانش</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-lg-6 mb-3">
      <p-card>
        <h5>آمار آزمون ها</h5>
        <div class="row">
          <div class="col-md-6 mt-2">
            <div class="border justify-content-around d-flex align-items-center rounded p-4 text-center">
              <h6 class="text-muted">آزمون های برگزار شده</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="col-md-6 mt-2">
            <div class="border justify-content-around d-flex align-items-center rounded p-4 text-center">
              <h6 class="text-muted">آزمون های برگزار شده</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-12">
      <p-card>
        <h5>آزمون</h5>
        <form class="form-row align-items-center">
          <ng-checkbox class="col col-sm-3 col-md-2 col-xl-1 mb-2" label="همه"></ng-checkbox>
          <ng-checkbox class="col col-sm-3 col-md-2 col-xl-1 mb-2" label="درحال برگزاری"></ng-checkbox>
          <ng-checkbox class="col col-sm-3 col-md-2 col-xl-1 mb-2" label="تمام شده"></ng-checkbox>
          <ng-checkbox class="col col-sm-3 col-md-2 col-xl-1 mb-2" label="تصحیح شده"></ng-checkbox>
          <ng-jalali-datepicker class="col-sm-6 col-md-2 col-xl-1 mb-2" label="ازتاریخ"></ng-jalali-datepicker>
          <ng-jalali-datepicker class="col-sm-6 col-md-2 col-xl-1 mb-2" label="تاتاریخ"></ng-jalali-datepicker>
          <ng-dropdown class="col-sm-6 col-md-4 col-xl-1 mb-2" label="نوع آزمون"></ng-dropdown>
          <ng-dropdown class="col-sm-6 col-md-4 col-xl-1 mb-2" label="درس"></ng-dropdown>
          <ng-dropdown class="col-sm-6 col-md-4 col-xl-1 mb-2" label="رشته تحصیلی"></ng-dropdown>
          <ng-dropdown class="col-sm-6 col-md-4 col-xl-1 mb-2" label="پایه تحصیلی"></ng-dropdown>
          <ng-dropdown class="col-sm-6 col-md-4 col-xl-1 mb-2" label="مقاطع تحصیلی"></ng-dropdown>
          <ng-dropdown class="col-sm-6 col-md-4 col-xl-1 mb-2" label="جنسیت"></ng-dropdown>
        </form>
        <div class="row">
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">آزمون های برگزار شده</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">آزمون های تمام شده</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">آزمون های تصحیح شده</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">میزان شرکت دانش آموزان</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">براساس جنسیت</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="mt-2 col-sm-6 col-lg-4 col-xl">
            <div class="border rounded p-4 text-center">
              <h6 class="text-muted">آزمون های تستی و تشریحی</h6>
              <h4 class="mb-0">1225465</h4>
            </div>
          </div>
          <div class="col-12 mt-5">
            <p-chart type="bar" [data]="stackedData" [options]="stackedOptions"></p-chart>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
