<p-dialog
  class="p-dialog-form"
  [(visible)]="visible"
  [class.rtl]="options.rtl"
  [class.ltr]="!options.rtl"
  [header]="options.header"
  [draggable]="options.draggable"
  [keepInViewport]="options.keepInViewport"
  [resizable]="options.resizable"
  [contentStyle]="options.contentStyle"
  [modal]="options.modal"
  [position]="options.position"
  [blockScroll]="options.blockScroll"
  [closeOnEscape]="options.closeOnEscape"
  [dismissableMask]="options.dismissableMask"
  [closable]="options.closable"
  [style]="options.style"
  [styleClass]="options.styleClass"
  [maskStyleClass]="options.maskStyleClass"
  [contentStyleClass]="options.contentStyleClass"
  [showHeader]="options.showHeader"
  [baseZIndex]="options.baseZIndex"
  [autoZIndex]="options.autoZIndex"
  [minX]="options.minX"
  [minY]="options.minY"
  [focusOnShow]="options.focusOnShow"
  [focusTrap]="options.focusTrap"
  [maximizable]="options.maximizable"
  [breakpoints]="options.breakpoints"
  [transitionOptions]="options.transitionOptions"
  [closeIcon]="options.closeIcon"
  [closeTabindex]="options.closeTabindex"
  [minimizeIcon]="options.minimizeIcon"
  [maximizeIcon]="options.maximizeIcon"
  (onShow)="setDefaultFocus()"
  #dialogWrapper>
  <form [formGroup]="form" class="form-row pt-3">
    <ng-container *ngFor="let config of config">
      <ng-container [ngSwitch]="config.component">
        <input
          *ngSwitchCase="'hidden'"
          [hidden]="handleConfigVisibility(config)"
          [ngClass]="config.className || 'col-12'"
          [formControlName]="config.key"
          type="hidden"
        />
        <ng-button
          *ngSwitchCase="'button'"
          [hidden]="handleConfigVisibility(config)"
          [ngClass]="config.className || 'col-12'"
          [appearance]="config.appearance"
          [rounded]="config.rounded"
          [raised]="config.raised"
          [color]="config.color || 'primary'"
          [full]="config.full"
          [badgeColor]="config.badgeColor || 'primary'"
          [size]="config.selectiveSize || 'md'"
          [async]="config.async"
          [newLabel]="config.newLabel"
          [newIcon]="config.newIcon"
          [newAppearance]="config.newAppearance"
          [newColor]="config.newColor || 'primary'"
          [defaultState]="config.defaultState || 1"
          [type]="config.buttonType || 'button'"
          [label]="config.label"
          [icon]="config.icon"
          [iconPos]="config.iconPos || 'left'"
          [badge]="config.badge"
          [badgeClass]="config.badgeClass"
          [loadingIcon]="config.loadingIcon || 'pi pi-spinner pi-spin'"
          [disabled]="handleConfigDisable(config)"
          [style]="config.style"
          [styleClass]="config.styleClass"
          (onClick)="handleConfigEvent(config,'onClick',$event)"
          (defaultStateChange)="handleConfigEvent(config,'defaultStateChange',$event)"
          (onClickAsync)="handleConfigEvent(config,'onClickAsync',$event)"
        ></ng-button>
        <ng-checkbox
          *ngSwitchCase="'checkbox'"
          [hidden]="handleConfigVisibility(config)"
          [ngClass]="config.className || 'col-12'"
          [formControlName]="config.key"
          [value]="config.value"
          [label]="config.label"
          [filled]="config.filled"
          [hint]="config.hint"
          [rtl]="config.rtl != undefined ? config.rtl : options.rtl"
          [showRequiredStar]="config.showRequiredStar != undefined ? config.showRequiredStar : true"
          [validation]="convertToComponentValidation(config)"
          [onLabel]="config.onLabel"
          [offLabel]="config.offLabel"
          [async]="config.async"
          [disabled]="handleConfigDisable(config)"
          [tabindex]="config.tabindex"
          [style]="config.style"
          [styleClass]="config.styleClass"
          [labelStyleClass]="config.labelStyleClass"
          [checkboxIcon]="config.checkboxIcon || 'pi pi-check'"
          [readonly]="config.readonly"
          [trueValue]="config.trueValue != undefined ? config.trueValue : true"
          [falseValue]="config.falseValue != undefined ? config.falseValue : false"
          (onChange)="handleConfigEvent(config,'onChange',$event)"
          (onChangeAsync)="handleConfigEvent(config,'onChangeAsync',$event)"
        ></ng-checkbox>
        <ng-dropdown
          *ngSwitchCase="'dropdown'"
          [hidden]="handleConfigVisibility(config)"
          [ngClass]="config.className || 'col-12'"
          [formControlName]="config.key"
          [value]="config.value"
          [label]="config.label"
          [filled]="config.filled"
          [labelWidth]="config.labelWidth"
          [hint]="config.hint"
          [rtl]="config.rtl != undefined ? config.rtl : options.rtl"
          [showRequiredStar]="config.showRequiredStar != undefined ? config.showRequiredStar : true"
          [icon]="config.icon"
          [labelPos]="config.labelPos || 'fix-top'"
          [iconPos]="config.iconPos || 'left'"
          [addon]="config.addon"
          [validation]="convertToComponentValidation(config)"
          [inputSize]="config.selectiveSize || 'md'"
          [options]="config.options"
          [optionLabel]="config.optionLabel || 'label'"
          [optionValue]="config.optionValue || 'value'"
          [optionDisabled]="config.optionDisabled || 'disabled'"
          [optionGroupLabel]="config.optionGroupLabel || 'label'"
          [optionGroupChildren]="config.optionGroupChildren || 'items'"
          [scrollHeight]="config.scrollHeight || '200px'"
          [style]="config.style"
          [panelStyle]="config.panelStyle"
          [styleClass]="config.styleClass"
          [panelStyleClass]="config.panelStyleClass"
          [filter]="config.filter"
          [filterValue]="config.filterValue"
          [filterBy]="config.filterBy"
          [filterMatchMode]="config.filterMatchMode || 'contains'"
          [filterPlaceHolder]="config.filterPlaceHolder"
          [filterLocale]="config.filterLocale"
          [disabled]="handleConfigDisable(config)"
          [readonly]="config.readonly"
          [emptyMessage]="config.emptyMessage || 'موردی وجود ندارد'"
          [emptyFilterMessage]="config.emptyFilterMessage || 'موردی وجود ندارد'"
          [editable]="config.editable"
          [maxlength]="config.maxlength"
          [appendTo]="config.appendTo || dialogWrapper"
          [tabindex]="config.tabindex"
          [placeholder]="config.placeholder"
          [dataKey]="config.dataKey"
          [autofocus]="config.autofocus"
          [autofocusFilter]="config.autofocusFilter"
          [resetFilterOnHide]="config.resetFilterOnHide"
          [dropdownIcon]="config.dropdownIcon || 'pi pi-chevron-down'"
          [autoDisplayFirst]="config.autoDisplayFirst != undefined ? config.autoDisplayFirst : false"
          [group]="config.group"
          [showClear]="config.showClear"
          [baseZIndex]="config.baseZIndex || 1000"
          [autoZIndex]="config.autoZIndex != undefined ? config.autoZIndex : true"
          [showTransitionOptions]="config.showTransitionOptions || '.12s cubic-bezier(0, 0, 0.2, 1)'"
          [hideTransitionOptions]="config.hideTransitionOptions || '.1s linear'"
          [tooltip]="config.tooltip"
          [tooltipStyleClass]="config.tooltipStyleClass"
          [tooltipPosition]="config.tooltipPosition || 'top'"
          [tooltipPositionStyle]="config.tooltipPositionStyle || 'absolute'"
          [virtualScroll]="config.virtualScroll"
          [virtualScrollItemSize]="config.virtualScrollItemSize"
          [virtualScrollOptions]="config.virtualScrollOptions"
          [lazy]="config.lazy"
          (onClick)="handleConfigEvent(config,'onClick',$event)"
          (onChange)="handleConfigEvent(config,'onChange',$event)"
          (onFilter)="handleConfigEvent(config,'onFilter',$event)"
          (onFocus)="handleConfigEvent(config,'onFocus',$event)"
          (onBlur)="handleConfigEvent(config,'onBlur',$event)"
          (onShow)="handleConfigEvent(config,'onShow',$event)"
          (onHide)="handleConfigEvent(config,'onHide',$event)"
          (onClear)="handleConfigEvent(config,'onClear',$event)"
          (onLazyLoad)="handleConfigEvent(config,'onLazyLoad',$event)"
          (onBeforeBtnClick)="handleConfigEvent(config,'onBeforeBtnClick',$event)"
          (onAfterBtnClick)="handleConfigEvent(config,'onAfterBtnClick',$event)"
        ></ng-dropdown>
        <ng-file-picker2
          *ngSwitchCase="'file-picker2'"
          [hidden]="handleConfigVisibility(config)"
          [ngClass]="config.className || 'col-12'"
          [formControlName]="config.key"
          [value]="config.value || []"
          [label]="config.label"
          [labelWidth]="config.labelWidth"
          [hint]="config.hint"
          [rtl]="config.rtl != undefined ? config.rtl : options.rtl"
          [showRequiredStar]="config.showRequiredStar != undefined ? config.showRequiredStar : true"
          [labelPos]="config.fixLabelPos || 'fix-top'"
          [validation]="convertToComponentValidation(config)"
          [disabled]="handleConfigDisable(config)"
          [readonly]="config.readonly"
          [multiple]="config.multiple != undefined ? config.multiple : true"
          [accept]="config.accept"
          [color]="config.color || 'primary'"
          [fileLimit]="config.fileLimit || 20000"
          [resultType]="config.resultType || 'base64'"
          [chooseLabel]="config.chooseLabel || 'انتخاب'"
          (onSelect)="handleConfigEvent(config,'onSelect',$event)"
          (onRemove)="handleConfigEvent(config,'onRemove',$event)"
        ></ng-file-picker2>
        <ng-image
          *ngSwitchCase="'image'"
          [hidden]="handleConfigVisibility(config)"
          [ngClass]="config.className || 'col-12'"
          [onErrorImagePlaceholder]="config.onErrorImagePlaceholder"
          [imageClass]="config.imageClass"
          [imageStyle]="config.imageStyle"
          [styleClass]="config.styleClass"
          [style]="config.style"
          [src]="config.src"
          [alt]="config.alt"
          [width]="config.width"
          [height]="config.height"
          [appendTo]="config.appendTo || dialogWrapper"
          [preview]="config.preview != undefined ? config.preview : false"
          [showTransitionOptions]="config.showTransitionOptions || '150ms cubic-bezier(0, 0, 0.2, 1)'"
          [hideTransitionOptions]="config.hideTransitionOptions || '150ms cubic-bezier(0, 0, 0.2, 1)'"
          (onShow)="handleConfigEvent(config,'onShow',$event)"
          (onHide)="handleConfigEvent(config,'onHide',$event)"
          (onError)="handleConfigEvent(config,'onError',$event)"
        ></ng-image>
        <ng-input-text
          *ngSwitchCase="'input-text'"
          [hidden]="handleConfigVisibility(config)"
          [ngClass]="config.className || 'col-12'"
          [formControlName]="config.key"
          [value]="config.value"
          [label]="config.label"
          [filled]="config.filled"
          [labelWidth]="config.labelWidth"
          [hint]="config.hint"
          [rtl]="config.rtl != undefined ? config.rtl : options.rtl"
          [showRequiredStar]="config.showRequiredStar != undefined ? config.showRequiredStar : true"
          [icon]="config.icon"
          [labelPos]="config.labelPos || 'fix-top'"
          [iconPos]="config.iconPos || 'left'"
          [addon]="config.addon"
          [validation]="convertToComponentValidation(config)"
          [inputSize]="config.selectiveSize || 'md'"
          [readonly]="config.readonly"
          [disabled]="handleConfigDisable(config)"
          [maxlength]="config.maxlength"
          [placeholder]="config.placeholder"
          [type]="config.inputType || 'text'"
          [keyFilter]="config.keyFilter"
          [inputMode]="config.inputMode"
          (onInput)="handleConfigEvent(config,'onInput',$event)"
          (onClick)="handleConfigEvent(config,'onClick',$event)"
          (onChange)="handleConfigEvent(config,'onChange',$event)"
          (onKeyDown)="handleConfigEvent(config,'onKeyDown',$event)"
          (onKeyUp)="handleConfigEvent(config,'onKeyUp',$event)"
          (onBlur)="handleConfigEvent(config,'onBlur',$event)"
          (onFocus)="handleConfigEvent(config,'onFocus',$event)"
          (onBeforeBtnClick)="handleConfigEvent(config,'onBeforeBtnClick',$event)"
          (onAfterBtnClick)="handleConfigEvent(config,'onAfterBtnClick',$event)"
        ></ng-input-text>
        <ng-input-textarea
          *ngSwitchCase="'input-textarea'"
          [hidden]="handleConfigVisibility(config)"
          [ngClass]="config.className || 'col-12'"
          [formControlName]="config.key"
          [value]="config.value"
          [label]="config.label"
          [filled]="config.filled"
          [labelWidth]="config.labelWidth"
          [hint]="config.hint"
          [rtl]="config.rtl != undefined ? config.rtl : options.rtl"
          [showRequiredStar]="config.showRequiredStar != undefined ? config.showRequiredStar : true"
          [icon]="config.icon"
          [labelPos]="config.labelPos || 'fix-top'"
          [iconPos]="config.iconPos || 'left'"
          [addon]="config.addon"
          [validation]="convertToComponentValidation(config)"
          [rows]="config.rows"
          [cols]="config.cols"
          [autoResize]="config.autoResize"
          [readonly]="config.readonly"
          [disabled]="handleConfigDisable(config)"
          [maxlength]="config.maxlength"
          [placeholder]="config.placeholder"
          (onResize)="handleConfigEvent(config,'onResize',$event)"
          (onInput)="handleConfigEvent(config,'onInput',$event)"
          (onChange)="handleConfigEvent(config,'onChange',$event)"
          (onKeyDown)="handleConfigEvent(config,'onKeyDown',$event)"
          (onKeyUp)="handleConfigEvent(config,'onKeyUp',$event)"
          (onBlur)="handleConfigEvent(config,'onBlur',$event)"
          (onFocus)="handleConfigEvent(config,'onFocus',$event)"
          (onBeforeBtnClick)="handleConfigEvent(config,'onBeforeBtnClick',$event)"
          (onAfterBtnClick)="handleConfigEvent(config,'onAfterBtnClick',$event)"
        ></ng-input-textarea>
        <ng-jalali-datepicker
          *ngSwitchCase="'jalali-datepicker'"
          [hidden]="handleConfigVisibility(config)"
          [ngClass]="config.className || 'col-12'"
          [formControlName]="config.key"
          [value]="config.value"
          [label]="config.label"
          [filled]="config.filled"
          [labelWidth]="config.labelWidth"
          [hint]="config.hint"
          [rtl]="config.rtl != undefined ? config.rtl : options.rtl"
          [showRequiredStar]="config.showRequiredStar != undefined ? config.showRequiredStar : true"
          [icon]="config.icon"
          [labelPos]="config.labelPos || 'fix-top'"
          [iconPos]="config.iconPos || 'left'"
          [addon]="config.addon"
          [validation]="convertToComponentValidation(config)"
          [inputSize]="config.selectiveSize || 'md'"
          [defaultDate]="config.defaultDate"
          [selectionMode]="config.datepickerSelectionMode || 'single'"
          [style]="config.style"
          [styleClass]="config.styleClass"
          [inputStyle]="config.inputStyle"
          [inputStyleClass]="config.inputStyleClass"
          [placeholder]="config.placeholder"
          [disabled]="handleConfigDisable(config)"
          [dateFormat]="config.dateFormat || 'yy/mm/dd'"
          [inline]="config.inline"
          [showOtherMonths]="config.showOtherMonths != undefined ? config.showOtherMonths : true"
          [selectOtherMonths]="config.selectOtherMonths"
          [showIcon]="config.showIcon != undefined ? config.showIcon : true"
          [showOnFocus]="config.showOnFocus != undefined ? config.showOnFocus : true"
          [showWeek]="config.showWeek"
          [datePickerIcon]="config.datePickerIcon || 'pi pi-calendar'"
          [appendTo]="config.appendTo || dialogWrapper"
          [readonlyInput]="config.readonlyInput"
          [shortYearCutoff]="config.shortYearCutoff || '+10'"
          [minDate]="config.minDate"
          [maxDate]="config.maxDate"
          [disabledDates]="config.disabledDates"
          [disabledDays]="config.disabledDays"
          [showTime]="config.showTime != undefined ? config.showTime : true"
          [hourFormat]="config.hourFormat || '24'"
          [timeOnly]="config.timeOnly"
          [timeSeparator]="config.timeSeparator || ':'"
          [dataType]="config.dataType || 'date'"
          [tabindex]="config.tabindex"
          [showSeconds]="config.showSeconds"
          [stepHour]="config.stepHour || 1"
          [stepMinute]="config.stepMinute || 1"
          [stepSecond]="config.stepSecond || 1"
          [maxDateCount]="config.maxDateCount"
          [showButtonBar]="config.showButtonBar != undefined ? config.showButtonBar : true"
          [todayButtonStyleClass]="config.todayButtonStyleClass || 'p-button-text'"
          [clearButtonStyleClass]="config.clearButtonStyleClass || 'p-secondary-button'"
          [baseZIndex]="config.baseZIndex || 0"
          [autoZIndex]="config.autoZIndex != undefined ? config.autoZIndex : true"
          [panelStyleClass]="config.panelStyleClass"
          [panelStyle]="config.panelStyle"
          [keepInvalid]="config.keepInvalid"
          [hideOnDateTimeSelect]="config.hideOnDateTimeSelect"
          [numberOfMonths]="config.numberOfMonths || 1"
          [view]="config.view || 'date'"
          [multipleSeparator]="config.multipleSeparator || ','"
          [rangeSeparator]="config.rangeSeparator || '-'"
          [touchUI]="config.touchUI != undefined ? config.touchUI : true"
          [focusTrap]="config.focusTrap != undefined ? config.focusTrap : true"
          [showTransitionOptions]="config.showTransitionOptions || '.12s cubic-bezier(0, 0, 0.2, 1)'"
          [hideTransitionOptions]="config.hideTransitionOptions || '.1s linear'"
          [firstDayOfWeek]="config.firstDayOfWeek || 0"
          [showClear]="config.showClear"
          (onSelect)="handleConfigEvent(config,'onSelect',$event)"
          (onBlur)="handleConfigEvent(config,'onBlur',$event)"
          (onFocus)="handleConfigEvent(config,'onFocus',$event)"
          (onClose)="handleConfigEvent(config,'onClose',$event)"
          (onShow)="handleConfigEvent(config,'onShow',$event)"
          (onClickOutside)="handleConfigEvent(config,'onClickOutside',$event)"
          (onInput)="handleConfigEvent(config,'onInput',$event)"
          (onTodayClick)="handleConfigEvent(config,'onTodayClick',$event)"
          (onClearClick)="handleConfigEvent(config,'onClearClick',$event)"
          (onMonthChange)="handleConfigEvent(config,'onMonthChange',$event)"
          (onYearChange)="handleConfigEvent(config,'onYearChange',$event)"
          (onClear)="handleConfigEvent(config,'onClear',$event)"
          (onBeforeBtnClick)="handleConfigEvent(config,'onBeforeBtnClick',$event)"
          (onAfterBtnClick)="handleConfigEvent(config,'onAfterBtnClick',$event)"
        ></ng-jalali-datepicker>
        <ng-radio
          *ngSwitchCase="'radio'"
          [hidden]="handleConfigVisibility(config)"
          [ngClass]="config.className || 'col-12'"
          [formControlName]="config.key"
          [value]="config.value"
          [label]="config.label"
          [filled]="config.filled"
          [labelWidth]="config.labelWidth"
          [hint]="config.hint"
          [rtl]="config.rtl != undefined ? config.rtl : options.rtl"
          [showRequiredStar]="config.showRequiredStar != undefined ? config.showRequiredStar : true"
          [labelPos]="config.fixLabelPos || 'fix-top'"
          [validation]="convertToComponentValidation(config)"
          [orientation]="config.orientation || 'vertical'"
          [options]="config.options"
          [optionLabel]="config.optionLabel || 'label'"
          [optionValue]="config.optionValue || 'value'"
          [optionDisabled]="config.optionDisabled || 'disabled'"
          [style]="config.style"
          [styleClass]="config.styleClass"
          [disabled]="handleConfigDisable(config)"
          (onChange)="handleConfigEvent(config,'onChange',$event)"
          (onFocus)="handleConfigEvent(config,'onFocus',$event)"
          (onBlur)="handleConfigEvent(config,'onBlur',$event)"
        ></ng-radio>
        <ng-switch
          *ngSwitchCase="'switch'"
          [hidden]="handleConfigVisibility(config)"
          [ngClass]="config.className || 'col-12'"
          [formControlName]="config.key"
          [value]="config.value"
          [label]="config.label"
          [labelWidth]="config.labelWidth"
          [hint]="config.hint"
          [rtl]="config.rtl != undefined ? config.rtl : options.rtl"
          [showRequiredStar]="config.showRequiredStar != undefined ? config.showRequiredStar : true"
          [labelPos]="config.fixLabelPos || 'fix-top'"
          [validation]="convertToComponentValidation(config)"
          [onLabel]="config.onLabel"
          [offLabel]="config.offLabel"
          [async]="config.async"
          [style]="config.style"
          [styleClass]="config.styleClass"
          [tabindex]="config.tabindex"
          [disabled]="handleConfigDisable(config)"
          [readonly]="config.readonly"
          [trueValue]="config.trueValue != undefined ? config.trueValue : true"
          [falseValue]="config.falseValue != undefined ? config.falseValue : false"
          (onChange)="handleConfigEvent(config,'onChange',$event)"
          (onChangeAsync)="handleConfigEvent(config,'onChangeAsync',$event)"
        ></ng-switch>
        <div
          *ngSwitchCase="'template'"
          [hidden]="handleConfigVisibility(config)"
          [ngClass]="config.className || 'col-12'"
          [innerHTML]="config.template"
          [ngStyle]="config.style"
        ></div>
      </ng-container>
    </ng-container>
    <div class="col-12" *ngIf="options.formValidator && form.hasError(options.formValidator.type)">
      <div class="p-error" [ngStyle]="options.formValidator.style" [innerHTML]="options.formValidator.message"></div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="footer d-flex align-content-center">
      <ng-button
        *ngIf="options.rejectVisible"
        [styleClass]="options.rejectButtonStyleClass"
        [appearance]="options.rejectAppearance"
        [color]="options.rejectColor"
        [iconPos]="options.rtl ? 'left' : 'right'"
        [full]="options.buttonFull"
        [icon]="options.rejectIcon"
        [size]="options.buttonSize"
        [label]="options.rejectLabel"
        [disabled]="disableReject"
        (onClick)="close()"
      ></ng-button>
      <ng-button
        *ngIf="options.acceptVisible"
        [styleClass]="options.acceptButtonStyleClass"
        [appearance]="options.acceptAppearance"
        [color]="options.acceptColor"
        [newColor]="options.acceptColor"
        [iconPos]="options.rtl ? 'left' : 'right'"
        [full]="options.buttonFull"
        [icon]="options.acceptIcon"
        [size]="options.buttonSize"
        [label]="options.acceptLabel"
        [disabled]="handleSubmitDisable()"
        type="submit"
        [async]="true"
        (onClickAsync)="onSubmitClick($event)"
      ></ng-button>
    </div>
  </ng-template>
</p-dialog>
