<div class="media align-items-center">
  <div class="cover align-self-stretch border-left" [style.backgroundImage]="'url('+getCover()+')'"></div>
  <div class="media-body p-3 d-flex align-items-center justify-content-between">
    <div>
      <h6 class="mt-0">{{tutorial.title}}</h6>
      <div class="d-flex text-muted">
        <span>{{tutorial.teacher}} | {{tutorial.view_count}} مشاهده | <span>{{getDiffFromNow()}}</span></span>
      </div>
    </div>
    <ng-button icon="pi pi-trash" color="danger" appearance="text" [rounded]="true" (onClick)="deleteTutorial($event)"></ng-button>
  </div>
</div>
