:host {
  display: block;
  margin-bottom: 1rem;
}

.media {
  background-color: #ffffff;
  border-radius: 1rem;
  cursor: pointer;
}

.cover {
  width: 62px;
  padding-bottom: 62px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 1rem 1rem 0;
  background-size: cover;
}

img {
  width: 62px;
}
