<div class="container-wrapper" [style.backgroundColor]="bgColor">
  <div class="toolbar px-2">
    <div class="d-flex align-items-center justify-content-between w-100">
      <ng-container *ngIf="toolbarRightTemplate;else alternativeToolbarRight">
        <ng-container *ngTemplateOutlet="toolbarRightTemplate"></ng-container>
      </ng-container>
      <ng-template #alternativeToolbarRight>
        <h6>{{title}}</h6>
      </ng-template>

      <ng-container *ngTemplateOutlet="toolbarCenterTemplate"></ng-container>

      <span class="d-flex align-items-center">
        <ng-container *ngTemplateOutlet="toolbarLeftTemplate"></ng-container>
        <ng-button *ngIf="backRoute"
                   class="mr-2"
                   [rounded]="true"
                   appearance="text"
                   icon="pi pi-chevron-left"
                   (onClick)="navigate()">
        </ng-button>
      </span>
    </div>
  </div>
  <div class="content p-3">
    <ng-content></ng-content>
  </div>
  <div class="footer px-3 py-4" *ngIf="footerTemplate">
    <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
  </div>
</div>
