@import "mixins";

:host ::ng-deep {
  .container-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .toolbar, .footer {
      display: flex;
      align-items: center;
    }

    .toolbar {
      height: 4rem;
      min-height: 4rem;
      background-color: $primary;

      h6 {
        display: inline-block;
        margin-bottom: 0;
        color: #ffffff;
        vertical-align: super;
      }

      button {
        &, &:hover, &:focus {
          color: #ffffff;
        }
      }
    }

    .content {
      flex-grow: 1;
      overflow-y: auto;
    }

    p-tabView {
      display: block;
      margin: -1rem;
      height: 100%;

      .p-tabview {
        display: flex;
        flex-direction: column;
        height: 100%;

        .p-tabview-nav-container {
          direction: ltr;

          .p-tabview-nav {
            li {
              a {
                background-color: transparent;
              }

              &.p-highlight {
                .p-tabview-nav-link {
                  color: $info;
                }
              }
            }
          }

          .p-tabview-ink-bar {
            background-color: $info;
          }
        }

        .p-tabview-panels {
          flex-grow: 1;
        }

        ul, .p-tabview-panels {
          background-color: #ececec !important;
        }
      }
    }

    .toolbar ng-input-text {
      input {
        background: transparent;
        border: none;
        color: #ffffff;

        &:focus {
          border: none;
          box-shadow: none;
        }
      }
    }
  }
}
