:host {
  display: block;
  border-radius: 0.25rem;
  border: 1px solid #dee2e6;
}

ng-image, video {
  display: block;
  margin: 0 auto 1rem;
}

.pdf-view {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: calc(100% - 1rem);
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  min-height: 130px;

  h6 {
    padding: 1rem;
    text-align: center;
    z-index: 10;
    flex-grow: 1;
    margin-bottom: 0;
  }
}

video {
  width: 100%;
}

ng-image {
  width: 100%;
  text-align: center;

  ::ng-deep {
    img {
      border: 1px solid #dee2e6;
      border-radius: 0.5rem;
    }
  }
}

p-accordion ::ng-deep {
  p-accordiontab {
    &:not(:last-child) {
      .p-accordion-tab {
        border-bottom: 1px solid #dee2e6 !important;
      }
    }

    .p-accordion-tab {
      .p-accordion-toggle-icon {
        margin-right: auto !important;
        margin-left: 0;
      }

      &:not(.p-accordion-tab-active) .p-toggleable-content {
        height: 0px;
      }
    }
  }
}
