<p-accordion>
  <p-accordionTab [header]="'تصویر' + ' ('+images.length+') '" *ngIf="images.length">
    <div [class.mb-3]="!last" *ngFor="let image of images;let last=last">
      <ng-image class="border rounded shadow" width="100%" [src]="image.file" [preview]="true"></ng-image>
    </div>
  </p-accordionTab>
  <p-accordionTab [header]="'فیلم' + ' ('+videos.length+') '" *ngIf="videos.length">
    <div [class.mb-3]="!last" *ngFor="let video of videos;let last=last">
      <video class="border rounded shadow" controls [src]="video.file"></video>
    </div>
  </p-accordionTab>
  <p-accordionTab [header]="'سند' + ' ('+docs.length+') '" *ngIf="docs.length">
    <div [class.mb-3]="!last" *ngFor="let doc of docs;let last=last">
      <div class="pdf-view border rounded shadow" (click)="downloadPdf(doc.fileIndex)"
           [style.backgroundImage]="'url('+doc.file+')'">
        <h6 class="alert-warning">{{doc.name}}</h6>
      </div>
    </div>
  </p-accordionTab>
</p-accordion>
